# ==========================================
# FRONTEND SECRETS
# ==========================================

# Google OAuth Client ID (Required for the Google Login. Add oauth web client under https://console.cloud.google.com/apis/credentials and whitelist frontend origin)
VITE_GOOGLE_CLIENT_ID=google_client_id.googleusercontent.com