# ==========================================
# BACKEND SECRETS
# ==========================================

# MongoDB connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/my_database

# Secret key used to sign and verify JSON Web Tokens
JWT_SECRET=secret_jwt_signature_key

# Google OAuth Client ID (Required for the Google Login. Add oauth web client under https://console.cloud.google.com/apis/credentials and whitelist frontend origin)
GOOGLE_CLIENT_ID=google_client_id.apps.googleusercontent.com